name: Build Laravel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - run: composer install --no-dev --optimize-autoloader

      - run: zip -r silsilah-ready.zip .

      - uses: actions/upload-artifact@v3
        with:
          name: silsilah
          path: silsilah-ready.zip
